<div class="all_sidebar">
    <a href="/AdminHome" class="AD">Admin Dashboard</a>
    <a href="/AdminAddStudent" class="all_sidebar_links"><i class="fas fa-user-graduate"></i> Add Student</a>
    <a href="/AdminAddTeacher" class="all_sidebar_links"><i class="fas fa-chalkboard-teacher"></i> Add Teacher</a>
    <a href="/AdminAssignTeacher" class="all_sidebar_links"><i class="fas fa-bars"></i> Assign Teachers</a>
    <a href="/AdminUpdateSyllabus" class="all_sidebar_links"><i class="far fa-clipboard"></i> Update Syllabus</a>
    <a href="/AdminChangePass" class="all_sidebar_links"><i class="fas fa-key"></i> Change Password</a>
</div>