<div class="container" style="margin-top: 70px;width: 75vw;">
    <div class="card">
        <h3 class="card-title text-center" style="margin-top: 20px;margin-bottom: 0;"><b>The Team</b></h3>

        <div style="display: flex;">
            <div class="card" style="flex: 0.33;margin: 30px;">
                <div class="card-body">
                    <img src="images/IMG_20190306_140910.jpg" alt="jatin img" style="width: 100%;margin-bottom: 20px;">
                    <h6><b>Name:</b> Jatin Teckchandani</h6>
                    <h6><b>Roll No.:</b> 18UITE9011</h6>
                    <h6><b>Email:</b> jatinteckchandani11@gmail.com</h6>
                </div>
            </div>
            
            <div class="card" style="flex: 0.33;margin: 30px;">
                <div class="card-body">
                    <img src="images/WhatsApp Image 2021-07-06 at 9.19.35 PM.jpeg" alt="jatin img" style="width: 100%;margin-bottom: 20px;">
                    <h6><b>Name:</b> Vaibhav Ghai</h6>
                    <h6><b>Roll No.:</b> 18UITE9026</h6>
                    <h6><b>Email:</b> vaibhavghai69@gmail.com</h6>
                </div>
            </div>
            
            <div class="card" style="flex: 0.33;margin: 30px;">
                <div class="card-body">
                    <img src="images/WhatsApp Image 2021-07-06 at 8.16.47 PM.jpeg" alt="jatin img" style="width: 100%;margin-bottom: 20px;">
                    <h6><b>Name:</b> Shivranjani Vyas</h6>
                    <h6><b>Roll No.:</b> 18UITE9038</h6>
                    <h6><b>Email:</b> vyasshivranjani@gmail.com</h6>
                </div>
            </div>
        </div>
    </div>
</div>