<%- include("partials/Header") -%>
<%- include("partials/NavbarA") -%>

<div class="all_home_main">
    <%- include("partials/SidebarAdmin") -%>
    <div class="all_home_content" style="padding: 0 !important;">
        <h1 class="all_welcome">Welcome!</h1>
        <h2 class="all_welcome">Admin</h2>
    </div>
</div>

<%- include("partials/Footer") -%>