<%- include("partials/Header"); -%>

<div class="container choice_main">
    <a class="btn btn-info back_button" href="/">Back</a>
    <div>
        <img src="images/undraw_Add_user_re_5oib.svg" alt="admin_image" class="choice_image">
        <h1>Admin:</h1>
        <div class="choice_main_buttons">
            <a class="btn btn-primary" href="/AdminLogin">Login</a>
        </div>
    </div>
</div>

<%- include("partials/Footer"); -%>
