<%- include("partials/Header"); -%>

<div class="container choice_main">
    <a class="btn btn-info back_button" href="/">Back</a>
    <div>
        <img src="images/undraw_teacher_35j2.svg" alt="admin_image" class="choice_image">
        <h1>Teacher:</h1>
        <div class="choice_main_buttons">
            <a class="btn btn-primary" href="/TeacherLogin">Login</a>
            <a class="btn btn-primary" href="/TeacherRegister">Register</a>
        </div>
    </div>
</div>

<%- include("partials/Footer"); -%>
