<%- include("partials/Header"); -%>

    <div class="container home_main">
        <img src="images/M.B.M._Engineering_College_-_Logo.png" alt="college_logo" class="home_main_logo">
        <h2>Welcome to</h2>
        <h1 class="home_main_title">Online Attendance Management System</h1>
        <h3>Login/Register as</h3>
        <div class="home_main_buttons">
            <a class="btn btn-primary" href="/ChoiceA">Admin</a>
            <a class="btn btn-primary" href="/ChoiceT">Teacher</a>
            <a class="btn btn-primary" href="/ChoiceS">Student</a>
        </div>
    </div>

<%- include("partials/Footer"); -%>
