<%- include("partials/Header") -%>

<div class="container-fluid login_main">
    <div class="row">
        <div class="container">
            <a class="btn btn-info back_button" href="/ChoiceS">Back</a>
        </div>
    </div>
    
    <div class="row">
      <div class="col-sm-5 mx-auto">
        <div class="card log">
          <div class="card-body">
            <div class="card-title"  style="text-align:center;">
                    <h1 class="index-head" style="font-size: 2rem;">Student</h1>
                    <h3>Login</h3>
            </div>
            <form action="/StudentLogin" method="POST">
              <div class="form-group">
                <input type="text" class="form-control" name="rollno" placeholder="Student Roll No">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <center>
                <button type="submit" class="btn btn-primary btn-lg">Log in</button>
              </center>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
              <div class="card-title" style="margin:0;text-align:center;">
                  <p style="margin: 0;">Don't have an account? <a href="/StudentRegister">Register</a></p>
              </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>

<%- include("partials/Footer") -%>